*{box-sizing:border-box;margin:0;padding:0}

html {font-size: 15px; overflow-x: hidden}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.3;
  font-size: 1rem;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  overflow-x: hidden;
	position: relative;
	background: black;
	color: white;
}

h1, h2 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  line-height:1;
}

h2 {
  font-size: 1rem;
  margin-top: 10rem;
}

a {color:inherit}

p:not(:first-child) {margin-top: 1.3rem}
p:not(:last-child) {margin-bottom: 1.3rem}

li {margin-left: 1rem}

header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	max-width: 415px;
	padding: 1.5rem;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	overflow: hidden;
	z-index: 1;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	header {
		background: rgba(27, 27, 27, 0.95);
  }
}

.grain {
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  pointer-events: none;
  background-color: transparent;
  background-image: url("/assets/images/noise.png");
  background-position: 50% 50%;
  background-size: 220px 220px;
  background-repeat: repeat;
  background-attachment: scroll;
  opacity: 0.4;
  -o-object-fit: fill;
  object-fit: fill;
	z-index: -1;
}

main {
	width: 100%;
	max-width: 500px;
	margin: 0rem auto 10rem;
	padding: 1rem;
}

.footnotes-sep {display:none}
.footnotes-list {margin-top: 1.3rem}

.gallery {
  margin: 10rem 0;
  position: relative;
  padding-top: 56.25%;
}

.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.f1_5 {font-size:1.5rem}

.d-b {display:block}
.p-a {position:absolute}
.p-r {position:relative}
.f-r {float:right}
.of-c {object-fit:cover}

.w-100 {width:100%}
.mw-200px {max-width:200px}
.h-120px {height:120px}

.mt-0_5 {margin-top:0.5rem}
.mt-2_5 {margin-top:2.5rem}
.mt-5 {margin-top:5rem}
.mb-5 {margin-bottom:5rem}
.mx-a {margin-left:auto;margin-right:auto}
.my-10 {margin-top:10rem;margin-bottom:10rem}

.tc-black {color:black}

.clear-button {
	background: none;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 1rem;
}

