*{box-sizing:border-box;margin:0;padding:0}

html {font-size: 15px}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.3;
  font-size: 1rem;
  background: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  overflow-x: hidden;
}

h1, h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {margin-top:1.5rem}
h2 {margin-top:10rem}

a {color:inherit}

p:not(:first-child) {margin-top: 1.3rem}
p:not(:last-child) {margin-bottom: 1.3rem}

main {
	width: 100%;
	max-width: 500px;
	margin: 10rem auto;
}

.footnotes-sep {display:none}

.ta-c {text-align:center}
.p-a {position:absolute}
.o-0_8 {opacity:0.08}
.o-1 {opacity:0.1}
.w-100 {width:100%}
